/* Footer */
footer{
    background: linear-gradient(#141e30, #243b55);
    z-index: 1;
    opacity: 0.95;
    position: absolute;
    width: 100%;
}
footer img{
    padding-bottom: 20px;
    width: 400px;
}
/* images footer */
#width{
    width: 30%;
    margin-left: 100px;
}
#width2{
    width: 40%;
}