/* Classes */
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
.flex{
    display: flex;
}
.center{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align: center;
}
.h1{
    font-size: 32px;
    font-weight: bold;
    padding-top: 80px;
    color: #A68C86;;
}
.margin{
    margin-bottom: 50px;
}
/* ID */

#create{
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    background-color:#A68C86;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    height: 80px;
    width: 180px;
    line-height: 15px;
    opacity: 0.95;
    border-style: none;
    display: inline-block;
    margin-right: 150px;
}

#li{
    padding-right: 30px;
}
#h2{
    font-size: 28px;
    font-weight: normal;
    padding-top: 50px;
    color: #A68C86;;
}
#h3{
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #A68C86;;
}
#onleft{
    text-align: left;
}

/* Bouton JS */
#btn{
    position: fixed;
    bottom: 10%;
    right: 10%;
    background-color: #A68C86;
    border:1px solid #A68C86;
    color: black;
    border-radius: 20px;
    text-transform: uppercase;
}

#btn:hover{
    cursor: pointer;
    background-image:url(../image/chat-image-animee-0043.gif);
    background-repeat:no-repeat;
    text-decoration:none;
}

/* Body */
body {
    position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            height: 100%;
        margin:0;
        padding:0;
        background-size: 100% ;
        width:100%;  
        color:black;
        font-family: 'Kiwi Maru', serif;
    }

body:before {
        content: "";
        position: fixed;
        height: 100%; width: 100%;
        background-image: url(../image/bkg_body.jpg);
        background-size: cover;
        z-index: -1;
        filter: blur(6px);
        -webkit-background-size: cover; /* pour Chrome et Safari */
        -moz-background-size: cover; /* pour Firefox */
        -o-background-size: cover; /* pour Opera */
        background-size: cover;
    }


    a:link{
        text-decoration: none;
    }
    button:hover{
        background-image:url(../image/chat-image-animee-0043.gif);
        background-repeat:no-repeat;
        text-decoration:none;
    }
    a{
        color: black;
        justify-content: space-between;
        width: 100px;
    }


/* Header */

header nav{
   
}

header img{
    padding-top: 20px;
    width: 400px;
}

/* Main */

#article{
    background-color: beige;
    border: 1rem solid grey;
}
